#wrapper
  %footer
    #sub-footer
      .container
        .span6
          .copyright
            %p
              %span © AviLib All right reserved :p
  %a.scrollup{:href => "#"}
    %i.icon-angle-up.icon-rounded.icon-bglight.icon-2x