.side-tabs

  %ul
    %ul
      %li
        %span.folder Client Management
        %ul
          %li
            %i.icon-group
            Clients
          %li
            %i.icon-group
            Subscription Expiration
          %li
            %i.icon-question-sign
            Pending Registration
          %li
            %i.icon-headphones
            Support Team
    %ul
      %li
        %span.folder Data Management
        %ul
          %li
            %i.icon-file
            Contents
          %li
            Resources
          %ul
            %li
              %span.folder vendor_type.title
              %ul
                %li
                  Assets
                %li
                  Market
                %li
                  Discipline
                %li
                  Departments
                %li
                  Job Titles
                %li
                  Metrics
                %li
                  Asset Hours
                %li
                  Benchmark Metrics
                %li
                  Benchmark Salary
