%div{:style => "overflow: auto;"}
  = render partial: 'shared/subjects'
  #list{:style => "float: left; width: 70%; padding: 10px 0px 0px 20px; background-color: rgb(255, 255, 240); overflow: auto;"}
    - if @books.blank?
      %p There are not any books currently in the system.
    - else
      %p These are the current books in our system
      %ul#books
        - @books.limit(10).order('created_at DESC').each do |book|
          %li
            = link_to book.title, :action => 'show', :id => book.id
            - if user_signed_in? && book.user_id == current_user.id
              %b
                = link_to 'Edit', :action => 'edit', :id => book.id
              %b
                = link_to "Delete", book_path(book), method: :DELETE, :confirm => "Are you sure you want to delete this item?"
            - else
              Edit
              Delete